@font-face {
    font-family: Roboto-Black;
    src: url(../styles/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../styles/fonts/Roboto-Regular.ttf);
}

:root {
    --bg-color: #141414;
    --green-color: #28c128;
    --light-green-color: #34ec34;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    margin-top: 0;
    width: 100%;
    background-color: rebeccapurple;
}

header nav {
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-right: 2em;
}

nav ul li.Update {
    display: block;
    text-align: center;
    width: 7em;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--green-color);
    font-family: Roboto;
    cursor: pointer;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

p.title-content{
    width: 100%;
    font-family: Roboto-Black;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

p.title-content:hover{
    color: var(--green-color);
    cursor: pointer;
    transition: all .7s;
}

.pseudo{
    display: flex;
    flex-direction: column;
    margin-top:2%;
    text-align: center;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    border: none;
}


.pseudo-content{
    display: flex;
    justify-content: center;
    width: 95%;
    border-radius: 15px;
    padding: 10px;
    border: none;
    background-color: white;
    font-family: Roboto-Black;
}

.pseudo-input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    font-family: Roboto-Black;
}

.letter-counter{
    color: gray;
    width: fit-content;
    right: 27%;
    position: absolute;
}

.room-btn{
   margin-top: 5%;
   
}


.room-btn a {
    width: fit-content;
    text-decoration: none;
    font-family: Roboto-Black;
    margin-right: 5%;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}

.create-room{ 
    border: 2px solid var(--text-color);
    color: var(--light-green-color);
}

.join-room{
    border: 2px solid var(--text-color);
    color: var(--green-color);
}

.footer {
    margin-bottom: 1em;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    font-family: Roboto-Black;
}